@import '@sass/base';

.ant-tooltip-inner {
  padding: 0 !important;
  border-radius: 0 !important;
}

.shop-info {
  color: $color_2;
  padding-top: 11.32px;
  .shop-info__hours {
    display: flex;
    padding-bottom: 16px;
    .shop-info__icon-container {
      margin-right: 7px;
      padding-left: 8px;
    }
    .shop-info__text {
      font-size: 13px;
      font-weight: 600;
      .shop-info__text-title {
        font-size: 12px;
        line-height: 140%;
        font-weight: 400;
      }
      .shop-info__days {
        color: $color_5;
        .shop-info__time {
          color: $color_2;
        }
      }
    }
  }
  .shop-info__location {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-7;
    border-top: 1px solid $color-7;
    padding-top: 11px;
    padding-bottom: 10px;
    .shop-info__icon-container {
      margin-right: 6px;
      padding-left: 8px;
    }
    .shop-info__text {
      font-size: 13px;
      font-weight: 400;
      line-height: 140%;
    }
  }
  .shop-info__contact {
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 17px;
    .shop-info__text {
      font-size: 13px;
      font-weight: 400;
      line-height: 140%;
      color: $color_2;
      p {
        span {
          color: $color_1;
        }
      }
    }
  }
}
