.admin-header {
  display: flex;
  align-items: center;
  .admin-header__page-title {
    font-size: 25px;
    font-weight: 600;
    margin-left: 20px;
  }
  .admin-header__create-button {
    margin-left: 10px;
  }
}
