$color_1: #0156ff;
$color_2: #000000;
$color_3: #acacac;
$color_4: #ffffff;
$color-5: #a2a6b0;
$color-6: #020202;
$color-7: #cacdd8;
$color-8: #f5f7ff;
$color-9: #252931;

* {
  font-family: 'Poppins', sans-serif;
}
